BOT_TOKEN=
OPENAI_API_KEY=
ADMIN_USER_ID=
TIMEZONE=Asia/Almaty
DAILY_REMINDER_TIME=10:00
WEEKLY_REMINDER_DAY=sunday
WEEKLY_REMINDER_TIME=11:00
AFTERNOON_REMINDER_TIME=15:00
SLEEP_REMINDER_TIME=23:59
CLEAR_TIME=21:00
CLEAR_LIMIT=1000
PROGRAM_START_DATE=2026-05-27
DATABASE_PATH=data/bot.sqlite3
PROGRAM_PATH=program.example.json
